
.frame {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.frame .div {
    background-color: #121212;
    width: 1512px;
    height: 3220px;
    position: relative;
}

.frame .div-2 {
    display: flex;
    flex-direction: column;
    width: 683px;
    align-items: center;
    gap: 22px;
    position: absolute;
    top: 1182px;
    left: 415px;
}

.frame .luxury-PR-events {
    font-family: "Sora-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper {
    position: relative;
    align-self: stretch;
    opacity: 0.7;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div-3 {
    position: absolute;
    width: 1512px;
    height: 982px;
    top: 0;
    left: 0;
    background-image: url(./img/frame-2.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-4 {
    display: flex;
    flex-direction: column;
    width: 761px;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: 404px;
    left: 200px;
}

.frame .div-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .atir-luxury-PR {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Sora-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--lookysyswhite);
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .welcome-to-atir {
    position: relative;
    width: 674px;
    font-family: "Sora-Regular", Helvetica;
    font-weight: 400;
    color: var(--lookysyswhite);
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div-6 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px 32px;
    position: relative;
    flex: 0 0 auto;
    border: 3px solid;
    border-color: var(--lookysyswhite);
}

.frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    font-family: "Sora-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .vector-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
}

.frame .vector {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
}

.frame .div-7 {
    position: absolute;
    width: 1512px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: #0000001a;
    backdrop-filter: blur(10px) brightness(100%);
    -webkit-backdrop-filter: blur(10px) brightness(100%);
}

.frame .div-8 {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 18px;
    left: 785px;
}

.frame .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 4px;
    position: relative;
    flex: 0 0 auto;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color: #ffffff;
}

.frame .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -4px;
    font-family: "Sora-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div-wrapper-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 4px;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Sora-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-5 {
    position: absolute;
    top: 9px;
    left: 200px;
    font-family: "Sora-ExtraBold", Helvetica;
    font-weight: 800;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: -6.4px;
    line-height: normal;
}

.frame .frame-wrapper {
    position: absolute;
    width: 960px;
    height: 488px;
    top: 1415px;
    left: 276px;
    background-image: url(./img/frame-11.png);
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-9 {
    display: flex;
    flex-direction: column;
    width: 363px;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    top: 341px;
    left: 597px;
}

.frame .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Sora-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--lookysyswhite);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .p {
    position: relative;
    align-self: stretch;
    opacity: 0.7;
    font-family: "SF Pro Rounded-Regular", Helvetica;
    font-weight: 400;
    color: var(--lookysyswhite);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .frame-wrapper-2 {
    position: absolute;
    width: 301px;
    height: 484px;
    top: 1918px;
    left: 935px;
    background-image: url(./img/frame-15.png);
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-10 {
    display: flex;
    flex-direction: column;
    width: 269px;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    top: 27px;
    left: 20px;
}

.frame .luxury-PR-branding {
    font-family: "Sora-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: normal;
}

.frame .image-de-marque {
    position: relative;
    align-self: stretch;
    opacity: 0.7;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .frame-wrapper-3 {
    position: absolute;
    width: 635px;
    height: 484px;
    top: 1918px;
    left: 276px;
    background-image: url(./img/frame-13.png);
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-11 {
    display: flex;
    flex-direction: column;
    width: 325px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    top: 359px;
    left: 20px;
}

.frame .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Sora-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .a-network-spanning {
    position: relative;
    align-self: stretch;
    opacity: 0.7;
    font-family: "SF Pro Rounded-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .frame-wrapper-4 {
    position: absolute;
    width: 301px;
    height: 484px;
    top: 2416px;
    left: 276px;
    background-image: url(./img/frame-17.png);
    background-size: cover;
    background-position: 50% 50%;
}

.frame .frame-wrapper-5 {
    position: absolute;
    width: 635px;
    height: 484px;
    top: 2416px;
    left: 601px;
    background-image: url(./img/frame-16.png);
    background-size: cover;
    background-position: 50% 50%;
}

.frame .div-12 {
    display: flex;
    flex-direction: column;
    width: 468px;
    align-items: center;
    gap: 34px;
    position: absolute;
    top: 2995px;
    left: 522px;
}

.frame .atir-luxury-PR-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Sora-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .img {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: -4px;
    margin-right: -8px;
}
